<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tjy.laminated.dao.oracle.users.UsersMapper">

    <select id="getUsers" statementType="CALLABLE">
         {call barcode_dmc_pd_employee(
	        #{zip_code,mode=IN,jdbcType=VARCHAR},
	        #{fitip,mode=IN,jdbcType=VARCHAR},
	        #{in_ip,mode=IN,jdbcType=VARCHAR},
	         #{IN_TYPE,mode=IN,jdbcType=INTEGER},
	         #{EMPLOYEE_NAME,mode=OUT,jdbcType=VARCHAR},
	         #{KEY73,mode=OUT,jdbcType=VARCHAR},
	        #{HINT,mode=OUT,jdbcType=VARCHAR}
	    )}


    </select>
	<select id="login" statementType="CALLABLE">
         {call BARCODE_DMC_WYH_EMPLOYEE(
	        #{I_USER_CODE,mode=IN,jdbcType=VARCHAR},
	        #{I_TYPE,mode=IN,jdbcType=INTEGER},
	        #{I_DIV,mode=IN,jdbcType=VARCHAR},
	        #{O_USER__NAME,mode=OUT,jdbcType=VARCHAR},
	        #{O_KEY73,mode=OUT,jdbcType=INTEGER},
	        #{O_HINT,mode=OUT,jdbcType=VARCHAR}
	    )}

    </select>
	<select id="lot" statementType="CALLABLE">
         {call BARCODE_DMC_WYH_WO(
	        #{I_W0,mode=IN,jdbcType=VARCHAR},
	        #{I_DIV,mode=IN,jdbcType=VARCHAR},
	        #{O_FLAG,mode=OUT,jdbcType=INTEGER},
	        #{O_PROC,mode=OUT,jdbcType=VARCHAR},
	        #{O_CPNUMBER,mode=OUT,jdbcType=VARCHAR},
	        #{O_QTY,mode=OUT,jdbcType=INTEGER},
	        #{O_HINT,mode=OUT,jdbcType=VARCHAR}
	    )}

    </select>
</mapper>
