<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/from/_reset.css">
    <link rel="stylesheet" href="/static/css/from/style.css">
</head>
<body>
    <div class="h1-title">DMC菲林</div>
    <div class="btn-body">
        <a class="btn-item" href="/login">1.登录</a>
        <a class="btn-item" href="/book">2.录入book信息</a>
        <a class="btn-item" href="/info?cmd=AC1&status=0">3.绑定book信息</a>
    </div>
<!--     <div class="tips">提示：已连接</div> -->
 <script src="/static/js/layer/jquery.min.js"></script>
 <script src="/static/js/layer/calc.js"></script>
</body>
</html>
